@font-face { 
    font-family: 'OpenSans-Bold';
    src: url(fonts/OpenSans-Bold.ttf) format("truetype"),
         url(fonts/OpenSans-Bold.woff) format("woff"), 
         url(fonts/OpenSans-Bold.woff2) format("woff2");
}

@font-face { 
    font-family: 'OpenSans-Regular';
    src: url(fonts/OpenSans-Regular.ttf) format("truetype"),
         url(fonts/OpenSans-Regular.woff) format("woff"), 
         url(fonts/OpenSans-Bold.woff2) format("woff2");
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'OpenSans-Regular', sans-serif;
}

h2 {
	font-family: 'OpenSans-Bold', sans-serif;
	text-transform: uppercase;
	color: #e7e7e7;
	font-size: 50px;
	margin: 8px 0;
	padding: 0 20px;
}

h3 {
	font-family: 'OpenSans-Bold', sans-serif;
	font-size: 23px;
	text-transform: uppercase;	
	color: #c1c1c1;
	margin-bottom: 17px;
	letter-spacing: 1.5px;
}

.number {
	font-family: 'OpenSans-Bold', sans-serif;
	color: #000;
	font-size: 14px;
	float: left;
	display: block;
	margin-top: 2px;
	margin-right: 8px;
	/*border-bottom: 3px solid #5e42b0;*/
	position: relative;
}

.number::after {
	display: block;
	content: "";
	height: 4px;
	background-color: #5e42b0;
	width: 100%;
	margin-top: 2px;	
	border-radius: 2px;
}

.bold {
	font-weight: bold;
}

.top {
	width: 100%;
  min-height: 100vh;
	background: url("img/football_767.jpg") no-repeat;
	background-size: cover;
  background-position: center top;
	border-bottom: 1px solid #1883d7;
}

.top__img {
	max-height: 100vh;
	display: block;
}

.top__img-wrapper {
  height: 100vh;
	background: url("img/football_767.jpg") no-repeat;
	background-size: cover;
  background-position: center top;
}

.top__content {
	background-color: #000033d4;
	min-height: 100vh;
}

.top__logo-wrapper {
	text-align: center;
	margin-bottom: 21.47vh;
}

.top__logo {
	fill: #fff;
	width: 133px;
  margin-top: 33px;
}

.top__text-wrapper {
	font-family: 'OpenSans-Bold';
	color: #fff;
	text-transform: uppercase;
	font-size: 8.75vw;
  margin: 0 5.625%;
	letter-spacing: 1.5px;
  line-height: 133.14%;
  /*white-space: nowrap;*/
}

.top__first-text {
	margin-bottom: 4.06vw;
}

.top__second-text {
	margin-left: 14.06vw;
	margin-bottom: 14vh;
}

.top__store-wrapper {
  font-family: 'OpenSans-Regular';
	font-size: 8px;
	color: #fff;
	text-transform: uppercase;
	line-height: 12px;
	letter-spacing: 0;
	padding-bottom: 84px;
}

.top__store {
	height: 35px;
	max-width: 280px;
	margin:	0 auto;
	background: #5e42b0;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.top__apple-store {
	margin-bottom: 14px;
}

.top__logo-apple {
	fill: white;
	height: 24px;
	margin-right: 8px;
}

.top__logo-google-play {
	fill: white;
	height: 24px;
	margin-right: 8px;
}

.top__img-wrapper-cont {
	
}

.top__store-container {
	display: flex;
	align-items: center;
	min-width: 115px;
}

.list {
	position: relative;
}

.list__step-wrapper {
	margin-top: 228px;
}

.athlets-center-container {
	max-width: 500px;
	margin: 0 auto;	
}

.players-center-container {
	max-width: 500px;
	margin: 0 auto;	
}

.athlets__img-wrapper {
	text-align: center;
	position: absolute;
	top: 71px;
	left: calc(50% - 96px);
}

.players__img-wrapper {
	text-align: center;
	position: absolute;
	top: 71px;
	left: calc(50% - 151px);
}

.list__step {
	padding: 50px 20px;
}

.list__step-description {
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 19px;
}

.list__step:first-child {
	background-color: #fafafa;
	padding-top: 76px;
}

.list__step:nth-child(2) {
	background-color: #f5f4f9;
}

.athlets-last-step {
	background-color: #5e42b0;
	color: #fff;
}

.athlets-last-step .number:after, .players-last-step .number:after {
	background-color: #fff;
}

.players-last-step {
	background-color: #090c35;
	color: #fff;
}

.players-last-step .number {
	color: #8765dd;
}










@media(min-width: 641px) {
	
	h2 {
		font-size: 80px;
		margin-top: 64px;
	}

	.number {
		font-size: 18px;
    /*border-bottom: 5px solid #5e42b0;*/
	}

	.number::after {
		height: 5px;
	}
	
	
	.top {
		background-image: url("img/football_1280.jpg");
	}
	
	.top__logo {
		width: 205px;
		margin-top: 39px;
	}
	.top__logo-wrapper {
		margin-bottom: 16.8vh;
	}
	
	.top__text-wrapper {
		margin: 0 10%;
    line-height: 116%;
		min-width: 85vw;
	}
	.top__first-text {
		margin-bottom: 0;
	}
	
	.top__second-text {
		margin-bottom: 31vh;
	}
	
	.top__store-wrapper {
		display: flex;
		justify-content: center;
    letter-spacing: 1px;
	}
	
	.top__store-container {
		margin-right: 20px;
	}
	
	.top__store {
		height: 77px;
		flex-basis: 312px;
		max-width: 312px;
		border-radius: 40px;
		margin: 0;
	}
	
	.top__store:first-child {
		margin-right: 30px;
	}
	
	.top__store-wrapper {
		font-size: 14px;
		line-height: 18px;
		margin: 0 20px;
	}
	
	.top__apple-store {
		margin: 0;
	}
	
	.top__logo-apple {
		height: 44px;
		margin-right: 24px;
	}
	
	.top__logo-google-play {
		height: 46px;
		margin-right: 26px;
	}
	
	
	.list__step-wrapper {
		margin-top: 0;
	}
	
	.list__step:first-child {
		background-color: transparent;
	}
	
	.athlets-center-container {
		margin: 0;
		margin-left: 35.5vw;
		max-width: 65.10vw;
	}
	
	.players-center-container {
		margin: 0;
		max-width: 65.10vw;
	}
	
	.list__relative-position {
		position: relative;
	}
	
	.athlets__img-wrapper {
		left: -435px;
		top: 36px;
	}
	
	.players__img-wrapper {
		right: -470px;
		top: -17px;
	}
	
	.list__step-title {
		font-size: 32px;
	}
	
	.list__step-description {
		font-size: 16px;
		line-height: 27px;
	}
	
	.list__step {
		padding: 32px 20px;
	}
	
	.list__step:first-child {
		padding-top: 22px;
	}
	

}





@media(min-width: 961px) {

	.top {
		background-image: url("img/football_1920.jpg");
	}
	
	.top__logo {
		width: 192px;
	}

	.top__logo-wrapper {
		margin-bottom: 28.6vh;
	}
	
	.top__text-wrapper {
		font-size: 4.68vw;
		display: flex;
		flex-direction: column;
		margin: 0 10.10vw;
    min-width: 0;
    letter-spacing: 4px;
		line-height: 105%;
	}

	.top__second-text {
		margin-left: auto;
		margin-bottom: 21vh;
	}
	
	.top__store:first-child {
		margin-right: 50px;
	}
	
	.athlets__img-wrapper {
    left: -584px;
    top: 12px;
	}
	
	.players__img-wrapper {
    right: -1200px;
    top: -72px;
	}	
	
	.athlets-center-container {
		max-width: 716px;
	}
	
	.players-center-container {
		max-width: 716px;
	}
	
	.list__step-title {
		font-size: 36px;
	}
	
	.list__step-description {
		font-size: 20px;
	}
	
	.number {
		margin-top: 7px;
	}
	
	.athlets-center-container {
		margin-left: 51.5vw;
	}
	
	.players-center-container {
		/*margin-left: 51.5vw;*/
		margin-left: auto;
		margin-right: 51.5vw;
	}
	
	h2 {
		margin-top: 88px;
		margin-bottom: 50px;
	}
	
	h3 {
		margin-bottom: 15px;
	}
	
	.list__step {
		padding: 52px 20px;
	}
	
	.athlets-img-wrapper {
		left: -596px;
		top: -61px;
	}
	
	.players-img-wrapper {
		left: -596px;
		top: -61px;
	}
}